body,
.el-main {
  margin: 0;
  padding: 0;
}
 .btn_block{
   width: 100%;
 }
.loginbg {
  height: 100vh;
  background: url(../images/loginbg1.jpg) no-repeat center;
  background-size:100% auto ;
  overflow: hidden;
}
.login_box{
  margin: 50px auto;
  width: 400px;
  background: #fff;
  padding: 40px 50px;
}